PORT=3000
DATABASE_URL=postgresql://postgres.pydpbalietdjtzdbdtns:fIoMwFW5BWOuzst5@aws-0-ap-southeast-1.pooler.supabase.com:5432/postgres
TRACKER_API_KEY=edd_tracking_8f72kL91xP42mQ7zjayant
ADMIN_USER=admin
ADMIN_PASSWORD=CHANGE_THIS_PASSWORD
ALLOWED_ORIGINS=https://YOUR-SHOPIFY-DOMAIN.com
